<h1>Expression calculator</h1>

<md-card>
  <md-card-title>Expression evaluation</md-card-title>
  <md-card-content>
    <md-input-container>
      <input mdInput placeholder="Enter expression" type="text" #expression>
    </md-input-container>
    <button md-button (click)="calculate(expression.value)">Calculate</button>

    <br/>

    <section>
      Result:
        <span *ngIf="calculationResult">{{calculationResult.result}}</span>
        <span *ngIf="errorMessage">{{errorMessage}}</span>
    </section>

    <br/>
    <hr/>
    <br/>

    <section>
      <md-slide-toggle (change)="onToggleHistory($event)" [(checked)]="showHistoryChecked">Show history</md-slide-toggle>
      <ul [hidden]="!showHistory">
        <li *ngFor="let history of historyResult">
          <div>Date: {{history.dateGenerated | date:"yyyy/MM/dd hh:mm:ss"}}</div>
          <div>Expression: {{history.expression}}</div>
          <div>Result: {{history.calculationResult.result}}</div>
          <div *ngIf="history.calculationResult.calculationError">Error: {{history.calculationResult.calculationError.errorText}}</div>
        </li>
      </ul>
    </section>

  </md-card-content>
</md-card>
