<h1>Expression calculator</h1>

<section>
  <label>
    <span>Expression</span>
    <input #expression type="text" placeholder="Enter expression">
    <button (click)="calculate(expression.value)">Calculate</button>
  </label>
</section>

<section>
  Result:
    <span *ngIf="calculationResult">{{calculationResult.result}}</span>
    <span *ngIf="errorMessage">{{errorMessage}}</span>
</section>

<section>
  <button (click)="showHistory()">Show history</button>
  <ul>
    <li *ngFor="let history of historyResult">
      <div>Date: {{history.dateGenerated | date:"yyyy/MM/dd hh:mm:ss"}}</div>
      <div>Expression: {{history.expression}}</div>
      <div>Result: {{history.calculationResult.result}}</div>
      <div *ngIf="history.calculationResult.calculationError">Error: {{history.calculationResult.calculationError.errorText}}</div>
    </li>
  </ul>
</section>
